.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    
}

.heafer{
    border-top: 1px solid #2c7de8 ;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
}


.menu{
    display: flex;
}

.menu li {
    margin-left: 38px;
}

.menu a {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f3f54; 
}

.top{
    background-color: #2c7de8;
    padding: 150px 0 180px;
}

.top__inner{
    display: flex;
}

.top__info {
    max-width: 555px;
    margin-right: 35px;
    color: #fff;
}
.top__info__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}
.top__info__descr {
    font-weight: 700;
    font-size: 19px;
    line-height: 52px;
    margin-bottom: 35px;
}
.top__info__descr span{
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
}
.top__info__list {
    margin-bottom: 50px;
}
.top__info__list li{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 24px; 
    margin-bottom: 3px;
    position: relative; 
}
.top__info__list li::before{
    content: "";
    background: url(../img/галки.png);
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
a {
    display: inline-block;
}

.top__info__btn {
    color:#fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 13px 44px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.top__images__box {
    position: relative;
}
.top__images__circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #212121;
    position: absolute;
    top: -65px;
    right: -60px;
}
.top__images__title {
    margin-bottom: 10px;
    text-align: left;
    width: 140px;
}

.top__images__price {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 5px;
}

.top__images__date {
    text-align: right;
    width: 140px;
}

.price {
    padding: 150px 0 180px;
}
.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #2f2f54;
}
.title span{
    color: #2c7de8;
}
.price__descr {
    text-align: center;
    margin: 35px auto 125px;
    max-width: 594px;
}
.price__items {
    display: flex;
    justify-content: space-between;
}
.price__item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    padding:0 50px 60px;
    position: relative;
    overflow: hidden;
}
.price-item__num {
    width: 265px;
    height: 465px;
    position: absolute;
    top: -370px;
    border-radius: 136px;
    color: #fff;
    background-color: #2c7de8;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 33px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}
.price-item__num span{
    font-size: 16px;
}

.price-item__img {
    padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
    min-height: 243px;
}
.price-item__title {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700px;
    font-family: 'Roboto', sans-serif;
    color: #2c7de8;
}
.price-item__text {
    margin-bottom: 50px;
}
.price-item__list {
    margin-bottom: 75px;
}
.price-item__list li{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    padding-left: 36px;
}
.price-item__list li::before{
    content: '';
    position: absolute;
    transform: translateY(6px);
    left: 51px;
    background-image: url(../img/галки.png);
    width: 15px;
    height: 11px;
}
.price--item__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #fff;
    background-color: #2c7de8;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}

.footer{
    background-color: #334357;
    padding: 80px 0 125px;
    color: #718db2;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer-col__logo{
    width: 263px;
}
.footer__logo{
    margin-bottom: 30px;
}
.footer__text {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 2555, 255, .05);
    max-width: 250px;
}
.footer__title{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #d0e4ff;
    margin-bottom: 30px;
}

.footer__menu{
    width: 165px;
}

.footer__list a{
    font-size: 13px;
    margin-bottom: 8px;
    color: #718db2;
}
.footer-form{
    width: 263px;
}

.footer-form input,
.footer-form textarea{
    border: 1px solid rgba(255, 2555, 255, .05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;
    padding: 0 12px;
    color: #718db2;
    font-size: 11px;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder{
    color: #718db2;
    font-size: 11px;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    
}
.footer-form textarea{
    padding: 12px;
    height: 85px;
    resize: none;
    margin-bottom: 10px;
}

.footer-form button{
text-transform: uppercase;
color: #fff;
font-size: 13px;
font-family: 'Roboto', sans-serif;
background-color: #2575e7;
padding: 10px;
cursor: pointer;
}

.reviews{
    padding: 120px 0;
    background-color: #fafafa;
}

.review-slider{
    margin-top: 160px;

}

.review-slider .slick-list{
    margin: 0 -50px;
}

.review-slider .slick-track{
    margin: 0 50px;
}

.reviews-box {
    display: flex;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}
.review-slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2575e7;
    
}
.review-slider .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.review-slider .slick-dots li {
    margin: 0 8px;
}
.review-slider .slick-dots li.slick-active button{
    background-color: #fff;
    border: 2px solid #2575e7;
} 
.reviews-box__images{
    display: flex;
    background-color: #2575e7;
    width: 190px;
    min-height: 350px;
    align-items: center;
    justify-content: center;
}
.reviews-box__images img{
    border-radius: 50%;
}
.riviews-box__contant{
    background-color: #fff;
    width: 330px;
    font-size: 16px;
    line-height: 26px;
    padding: 0 40px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviews-box__text {
margin-bottom: 30px;
}
.reviews-box__autor span{
color: #2575e7;
font-family: 'Roboto', sans-serif;
font-weight: 700;
}